body {
    font-family: Arial, Helvetica, sans-serif;
}

.main-container {
    margin: 15px auto auto;
    width: 30%;
}

.main-container .info {
    padding: 5px 20px;
    margin: 10px 0;
}
.main-container input {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;
}

.main-container button {
    background-color: #0d9628;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    width: 100%;
}

.main-container button:hover {
    opacity: 0.8;
}

.register-form {
    border: 3px solid #f1f1f1;
    padding: 16px;
}

.error {
    color: red;
}

.update-profile-form {
    border: 3px solid #f1f1f1;
    padding: 16px;
}

.readonly-input {
    background-color : #d6d6cc;
}

.header {
    overflow: hidden;
    background-color: #098c15;
    padding: 5px 30px;
}

.header a {
    color: black;
    text-decoration: none;
    font-size: 18px;
}


.header h3 {
    margin-top: 10px;
    margin-bottom: 1px;
}

.header-right {
    float: right;
}

.personal-info-container {
    margin: 15px 30px;
    width: 30%;
}

.personal-info-container input {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;
}

.personal-info-container button {
    background-color: #4CAF50;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    width: 100%;
}

.personal-info-container button:hover {
    opacity: 0.8;
}

.catalog-table {
    border-collapse: collapse;
    width: 100%;
}

.catalog-table td, .catalog-table th {
    border: 1px solid #ddd;
    padding: 12px;
    font-size: 15px;
}

.catalog-table tr:nth-child(even){
    background-color: #f2f2f2;
}

.catalog-table tr:hover {
    background-color: #ddd;
}

.catalog-table th {
    padding-top: 10px;
    padding-bottom: 10px;
    text-align: center;
    background-color: #333;
    color: white;
    font-size: 20px;
}